@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	background-color: #0d0d0d;
	color: white;
	::-webkit-scrollbar {
		display: none;
	}
}
@keyframes strokeAnimation {
	from {
		stroke-dasharray: 0, 1000;
	}
	to {
		stroke-dasharray: 1000, 0;
	}
}

.stroke-animate {
	animation: strokeAnimation 6s ease forwards;
}

.bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
