@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	background-color: #000000;
	color: white;
	::-webkit-scrollbar {
		display: none;
	}
}

/* 
.comet {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;  Visible color of the comet 
	animation: moveComet 10s linear infinite;
	z-index: 3;
}

@keyframes moveComet {
	0% {
		top: 0;
		left: 0;
	}
	100% {
		top: 90vh;  Adjust according to your layout 
		left: 90vw;  Adjust according to your layout 
	}
}

.background {
	position: relative;
	background-image: radial-gradient(
			circle 3px at var(--comet-x, 0px) var(--comet-y, 0px),
			rgba(128, 128, 128, 1) 1px,
			transparent 1px
		),
		radial-gradient(
			circle 3px at var(--comet-x, 0px) var(--comet-y, 0px),
			rgba(128, 128, 128, 1) 1px,
			transparent 1px
		);
	background-size: 50px 50px;
	z-index: 0;
	animation: updateGrid 0.1s infinite;
}

@keyframes updateGrid {
	from,
	to {
		background-position: var(--comet-x, 0px) var(--comet-y, 0px);
	}
}

 .background::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(13, 13, 13, 1) 0%,
		rgba(13, 13, 13, 1) 25%,
		rgba(13, 13, 13, 0) 50%,
		rgba(13, 13, 13, 1) 75%,
		rgba(13, 13, 13, 1) 100%
	);
	pointer-events: none;
	z-index: 1;
	animation: overlay 5s linear infinite;
}

@keyframes overlay {
	0% {
		background-position: -100vw;
	}
	100% {
		background-position: 100vw;
	}
}
.background {
	position: relative;
	background-size: 50px 50px;
	background-image: linear-gradient(to right, grey 1px, transparent 1px),
		linear-gradient(to bottom, grey 1px, transparent 1px);
	z-index: 0;
}
.content {
	position: relative;
	z-index: 2;
} 

 body {
	background-size: 50px 50px;
	background-image: linear-gradient(
			to right,
			rgba(255, 0, 0, 0.5) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgba(0, 0, 255, 0.5) 1px, transparent 1px);
} 
@keyframes strokeAnimation {
	from {
		stroke-dasharray: 0, 1000;
	}
	to {
		stroke-dasharray: 1000, 0;
	}
}

.stroke-animate {
	animation: strokeAnimation 6s ease forwards;
}

.bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}  */
