@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	background-color: #0d0d0f;

	animation: gradient 1s ease infinite;

	color: white;
	::-webkit-scrollbar {
		background-color: #0d0d0f;
	}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* body {
	background-image: url('/bg-tile.svg');
	background-position: 50% 0;
	background-repeat: repeat;
	background-size: 142px 71px;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 22%;
	right: 20%;
} */

/* body::before {
	content: '';
	position: fixed; /* This makes the pseudo-element fixed when scrolling 
	top: 0;
	bottom: 0;
	opacity:10%
	left: 0;
	right: 0;
	background-image: linear-gradient(
		to right,
		rgb(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 30%,
		rgba(0, 0, 0, 0) 75%,
		rgb(0, 0, 0, 1) 100%
	);
	pointer-events: none; /* So it doesn't interfere with interactions 
	z-index: 1; /* This makes the pseudo-element appear on top of other elements 
/* } */

/*  
body::before {
	z-index: -1;
	background-color: #222326;
	position: relative;
	top: 10%;
	bottom: 10%;
	left: 0%;
	right: 0%;
	height: 100vh;
	background-image: linear-gradient(
		to right,
		rgb(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 0) 75%,
		rgb(0, 0, 0, 1) 100%
	);
} */
.hero-bg-wrap {
	z-index: -1;
	background-color: #222326;
	position: relative;
	top: 10%;
	bottom: 10%;
	left: 0%;
	right: 0%;
	height: 100vh;
}
.b-shadow {
	border: 2px solid;
	background-color: rgba(255, 255, 255, 0.002);
	border-radius: 20px;
	border-color: rgba(255, 255, 255, 0.01);
	opacity: 1;
	box-shadow:
		rgba(255, 255, 255, 0.024) 0px 0.362176px 0.651917px -1px inset,
		rgba(255, 255, 255, 0.035) 0px 3px 5.4px -2px inset;
}

.b-shadow:hover {
	background-color: rgba(255, 255, 255, 0.001);
}
.hero-bg-tiles {
	/* z-index: 1; */
	background-image: url('/bg-tile.svg');
	background-position: 50% 0;
	background-repeat: repeat;
	background-size: 142px 71px;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 22%;
	right: 20%;
}

pre code {
	display: block;
	background: none;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	padding: 0;
}
/* .hero-bg-tiles::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(
		to right,
		rgb(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 0) 75%,
		rgb(0, 0, 0, 1) 100%
	);
	pointer-events: none; /* So it doesn't interfere with interactions 
}
.hero-bg-tiles::after {
	background-image: linear-gradient(
		to top,
		rgb(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 0) 75%,
		rgb(0, 0, 0, 1) 100%
	);
} */
.line {
	width: 1px;
	height: 100px;
	color: brown;
	top: 100px;
	bottom: 200px;
	position: absolute;
}
/* 
.hero-bg-tiles::before {
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	opacity: 0;
	will-change: background, opacity;
	transition-duration: 400ms;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: opacity;
	background-image: radial-gradient(
		600px at var(--cursor-x) var(--cursor-y),
		rgba(255, 254, 241, 0.15),
		transparent 40%
	);
	background-size: auto;
	background-origin: padding-box;
	z-index: 1;
} */
/* 
.comet {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;  Visible color of the comet 
	animation: moveComet 10s linear infinite;
	z-index: 3;
}

@keyframes moveComet {
	0% {
		top: 0;
		left: 0;
	}
	100% {
		top: 90vh;  Adjust according to your layout 
		left: 90vw;  Adjust according to your layout 
	}
}

.background {
	position: relative;
	background-image: radial-gradient(
			circle 3px at var(--comet-x, 0px) var(--comet-y, 0px),
			rgba(128, 128, 128, 1) 1px,
			transparent 1px
		),
		radial-gradient(
			circle 3px at var(--comet-x, 0px) var(--comet-y, 0px),
			rgba(128, 128, 128, 1) 1px,
			transparent 1px
		);
	background-size: 50px 50px;
	z-index: 0;
	animation: updateGrid 0.1s infinite;
}

@keyframes updateGrid {
	from,
	to {
		background-position: var(--comet-x, 0px) var(--comet-y, 0px);
	}
}

 .background::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to right,
		rgba(13, 13, 13, 1) 0%,
		rgba(13, 13, 13, 1) 25%,
		rgba(13, 13, 13, 0) 50%,
		rgba(13, 13, 13, 1) 75%,
		rgba(13, 13, 13, 1) 100%
	);
	pointer-events: none;
	z-index: 1;
	animation: overlay 5s linear infinite;
}

@keyframes overlay {
	0% {
		background-position: -100vw;
	}
	100% {
		background-position: 100vw;
	}
}
.background {
	position: relative;
	background-size: 50px 50px;
	background-image: linear-gradient(to right, grey 1px, transparent 1px),
		linear-gradient(to bottom, grey 1px, transparent 1px);
	z-index: 0;
}
.content {
	position: relative;
	z-index: 2;
} 

 body {
	background-size: 50px 50px;
	background-image: linear-gradient(
			to right,
			rgba(255, 0, 0, 0.5) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgba(0, 0, 255, 0.5) 1px, transparent 1px);
} 
@keyframes strokeAnimation {
	from {
		stroke-dasharray: 0, 1000;
	}
	to {
		stroke-dasharray: 1000, 0;
	}
}

.stroke-animate {
	animation: strokeAnimation 6s ease forwards;
}

.bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}  */

.btn {
	position: relative;
	padding: 0;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
	transition: box-shadow 150ms;
}
.btn:focus {
	transition: box-shadow 150ms;
	box-shadow: 0px 0px 0px 3px #ffffff;
}

.btn-background-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: grid;
	grid-template-columns: 1fr;
	z-index: -1;
}

.btn-background {
	grid-row-start: 1;
	grid-column-start: 1;
}

.btn-background-1 {
	animation: btn-background-1-animation 8s infinite;
	background-image: linear-gradient(
		165deg,
		hsl(178, 100%, 44%),
		hsl(209, 100%, 44%)
	);
	border-radius: 5px;
}
.btn-background-1:before {
	content: '';
	position: absolute;
	top: 0.7rem;
	left: 0.6rem;
	bottom: 0.7rem;
	right: 0.6rem;
	background-image: linear-gradient(
		165deg,
		hsl(178, 100%, 44%),
		hsl(209, 100%, 44%)
	);
	/* filter: blur(35px); */
}
.btn-background-2 {
	animation: btn-background-2-animation 8s infinite;
	background-image: linear-gradient(
		165deg,
		hsl(0, 84%, 61%),
		hsl(47, 95%, 57%)
	);
	border-radius: 5px;
}
.btn-background-2:before {
	content: '';
	position: absolute;
	top: 0.7rem;
	left: 0.6rem;
	bottom: 0.7rem;
	right: 0.6rem;
	background-image: linear-gradient(
		165deg,
		hsl(0, 84%, 61%),
		hsl(47, 95%, 57%)
	);
	/* filter: blur(35px); */
}
.btn-background-3 {
	animation: btn-background-3-animation 8s infinite;
	background-image: linear-gradient(
		165deg,
		hsl(330, 100%, 50%),
		hsl(270, 67%, 46%)
	);
	border-radius: 5px;
}
.btn-background-3:before {
	content: '';
	position: absolute;
	top: 0.7rem;
	left: 0.6rem;
	bottom: 0.7rem;
	right: 0.6rem;
	background-image: linear-gradient(
		165deg,
		hsl(330, 100%, 50%),
		hsl(270, 67%, 46%)
	);
	/* filter: blur(35px); */
	/* this makes the glow spread behind the button */
}

.btn-text {
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #0d0d0f;
	margin: 1px;
	border-radius: 5px;
	padding: 0.75rem 3rem;
	font-family: 'Inter';
	font-size: 1rem;
	transition: all 100ms;
}

.btn:hover .btn-text {
	transition: all 100ms;
	background-color: transparent;
	color: black;
}

@keyframes btn-background-1-animation {
	0%,
	16.667%,
	to {
		opacity: 1;
	}

	33%,
	83.333% {
		opacity: 0;
	}
}

@keyframes btn-background-2-animation {
	0%,
	16.667%,
	66.667%,
	to {
		opacity: 0;
	}

	33.333%,
	50% {
		opacity: 1;
	}
}

@keyframes btn-background-3-animation {
	0%,
	50%,
	to {
		opacity: 0;
	}

	66.667%,
	83.333% {
		opacity: 1;
	}
}

.btn-border {
	background: #2e3537;
	padding: 0.75em 1.5em;
	border: 3px solid #e77670;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	transition: 0.5s;
}

.btn-border:hover {
	border-color: transparent;
}

.btn-border:hover:after {
	content: '';
	position: absolute;
	background: linear-gradient(
		90deg,
		#f4a889,
		#e77670,
		#b63565,
		#5073b8,
		#1098ad,
		#6fba82
	);
	height: calc(100% + 3px * 4);
	width: calc(100% + 3px * 4);
	top: calc(-3px * 2);
	left: calc(-3px * 2);
	z-index: -1;
	border-radius: 5px;
	background-size: 200%;
	border: inset 3px;
	animation: btn-border-animation 1s ease infinite alternate;
}

@keyframes btn-border-animation {
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 100% 50%;
	}
}

.mac-close {
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

.mac-close.yellow {
	background-color: #d7bc40;
}
.mac-close.green {
	background-color: #43e648;
}
.mac-close.red {
	background-color: #e77670;
}
